body {
  font-family: Arial, Helvetica, sans-serif;
}

.weather-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .weather-card {
    display: flex;
    flex-direction: column;
    background-color: #dbe5f5;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 100%;
    max-width: 20rem;

    form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;
      border-bottom: 2px solid rgb(12, 189, 196);
    }

    .subBtn {
      border: none;
      background: #4a5568;
      color: #fff;
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      cursor: pointer;


      &:hover {
        background: white; 
        color: #4a5568; 
        transform: scale(1.05);
        transition: .5s ease;
      }
    }

    .search {
      height: 40px;
      border-radius: 20px;
      padding-left: 15px;
      font-size: 1rem;
      border: none;
      transition: border-color 0.3s;

      &:focus {
        outline: none;
      }
    }

    .maincity {
      text-align: center;
      font-size: 1.25rem;
      padding: 10px;
      border-bottom: 2px solid rgb(12, 189, 196);

      .city {
        font-size: 1.5rem;
        font-weight: bold;
      }

      .date {
        padding-top: 10px;
        font-size: 1rem;
      }
    }

    .temperature {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 4rem;

      span {
        font-size: 3rem;
        margin-left: 5px;
      }
    }

    .icon{
      text-align: center;
      font-size: 120px;
      margin: 1.5rem;
    }

    .details {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 1.5rem;

      .detail {
        display: flex;
        flex-direction: column;
        align-items: center;

        .label {
          font-weight: bold;
          font-size: 1rem;
          padding: 5px;
          display: flex;
          align-items: center;
          gap: 5px;
        }

        .value {
          font-size: 1rem;
          color: #4a5568;
        }
      }
    }
  }
}
